<main>
    <!-- Details Page -->
    <section id="catalog-section">

        <h1 class="item">
            Fishing Boat
        </h1>
        <div class="item padded">

            <div class="layout right large">

                <div class="col">
                    <img src="/assets/boat.jpg" class="img-large">
                </div>

                <div class="content pad-med">

                    <p>In category: <strong>Vehicles</strong></p>
                    <p>Excellent condition. Onboard diesel motor, upholstered cockpit, fishing sonar. Includes
                        trailer.</p>

                    <div class="align-center">
                        <div>
                            Current price: $<strong>{{ad.price}}</strong>
                        </div>
                        {{#if isUser}}
                        {{#if isTopBidder}}
                        <!-- If current user can place a bid -->
                        <form class="vertical" method="post">
                            <label><span>Bid amount</span><input type="number" name="bid"></label>
                            <input class="action" type="submit" value="Place bid">
                        </form>
                        {{else}}
                        <!-- If current user is the bidder -->
                        <div>
                            You are currently the <strong>{{ad.bidder.name}}</strong> for this auction
                        </div>
                        {{/if}}
                        {{/if}}

                    </div>

                </div>
            </div>

            <footer>Listed by Peter Jackson</footer>
        </div>

    </section>

</main>